@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-[#2e026d] to-[#15162c] text-slate-100;
  overscroll-behavior: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #3d028f;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #3d028f;
}

::-webkit-scrollbar-thumb
{
  border-radius: 1rem;
	background-color: #1d0145;
	border: 2px solid #431288;
}